<tr class="patient" id="<%="patient#{patient.id}"%>" >
  <td><%= patient.last %></td>
  <td><%= patient.first %></td>
  <%= patient_attribute(patient, :medication_rate) %>
  <%= patient_attribute(patient, :exercise_rate) %>
  <%= patient_attribute(patient, :happiness_score) %>
  <td>
    <button class="btn btn-primary" data-toggle="modal" data-target="<%="#message_dialog#{patient.id}"%>">
      <span class="glyphicon glyphicon-send"></span>
      Send Message
    </button>
    <%= render partial: "patients/message_dialog", locals: {patient: patient} %>
  </td>
</tr>