<tr class="patient" id=<%="patient#{patient.id}"%> >
  <td><%= patient.last %></td>
  <td><%= patient.first %></td>
  <td><%= patient.medication_rate %><td>
  <td><%= patient.exercise_rate %></td>
  <td><%=patient.happiness_score %><td>
</tr>